.venv/
venv/
env/


dist/
build/
*.egg-info/


__pycache__/
*.pyc
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/

.vscode/
.idea/


.DS_Store
Thumbs.db

poetry.lock

*.cast

*.pyc
*.pyo
*.pyd
.Python
env/

labyrinth_demo.cast
demo.cast