# Virtual environment
.venv/
venv/
env/

# Distribution
dist/
build/
*.egg-info/

# Cache
__pycache__/
*.pyc
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Poetry
poetry.lock